# ignore the ansible outputs
ansible-runner/artifacts
pip-selfcheck.json

__pycache__
bin/
lib/
pyvenv.cfg
compiler_compat/
conda-meta/
condabin/
etc/
include/
pkgs/
share/
shell/
ssl/
lib64

*.egg-info

# VS Code
.vscode/

# Secrets
.env

# Generated Client
slurmrest_client/
